@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<center>
    <div class="card">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
            <h4 class="card-title">Board Management</h4>
            <hr>
            <h5>Delete Comments</h5>
            <button type="button" class="btn btn-primary btnDeleteComment" id="btnDeleteCommentsAll">All Bulletin Board</button>
            <br>
            <button type="button" class="btn btn-primary btnDeleteComment" id="btnDeleteCommentsPublic">Public Bulletin Board</button>
            <br>
            <button type="button" class="btn btn-primary btnDeleteComment" id="btnDeleteCommentsWei">Camp Bulletin Board : Wei</button>
            <br>
            <button type="button" class="btn btn-primary btnDeleteComment" id="btnDeleteCommentsShu">Camp Bulletin Board : Shu</button>
            <br>
            <button type="button" class="btn btn-primary btnDeleteComment" id="btnDeleteCommentsWu">Camp Bulletin Board : Wu</button>
            <br>
            <button type="button" class="btn btn-primary btnDeleteComment" id="btnDeleteCommentsGod">Camp Bulletin Board : God</button>
            <br>
            <button type="button" class="btn btn-primary btnDeleteComment" id="btnDeleteCommentsNeutral">Camp Bulletin Board : Neutral</button>
            <br>
            <button type="button" class="btn btn-primary btnDeleteComment" id="btnDeleteCommentsForeign">Camp Bulletin Board : Foreign</button>
            <br>
        </div>
    </div>
</center>

@section Scripts{
    <script src="~/js/SystemBoardManagement.js"></script>
}