@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SystemModel
<center>
    <div class="card">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
            <h4 class="card-title">System Options</h4>
            <div class="list-group">
                <a href="/System/AccountsManagement" class="list-group-item list-group-item-action active">Accounts Management</a>
                <a href="/System/BoardManagement" class="list-group-item list-group-item-action active">Board Management</a>
            </div>
        </div>
    </div>
</center>