<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AcientBulletinBoard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AcientBulletinBoard</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    @if (AcientBulletinBoard.Services.Helper._userData.name != null)
                    {
                        <li class="nav-item active">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ChatRoom" asp-action="Index">Chat Room</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bulletin Boards</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownId">
                                <a class="dropdown-item" asp-controller="PublicBulletinBoard" asp-action="Index">Public Bulletin Board</a>
                                @if (AcientBulletinBoard.Services.Helper._userData.camp != AcientBulletinBoard.Services.enumCamp.Neutral)
                                {
                                    <a class="dropdown-item"  asp-controller="CampBulletinBoard" asp-action="Index">Camp Bulletin Board</a>
                                }
                            </div>
                        </li>
                    }
                    @if (AcientBulletinBoard.Services.Helper._userData.name != null && AcientBulletinBoard.Services.Helper._userData.role == AcientBulletinBoard.Services.enumRole.admin)
                    {
                        <li class="nav-item active">
                            <a class="nav-link text-dark" asp-area="" asp-controller="System" asp-action="Index">System</a>
                        </li>
                    }
                </ul>
                @if (AcientBulletinBoard.Services.Helper._userData.name != null && AcientBulletinBoard.Services.Helper._userData.role != AcientBulletinBoard.Services.enumRole.guest)
                {
                    <button type="button" class="btn btn-primary" id="btnLogOut">Log Out</button>
                }
                else
                {
                    <button type="button" class="btn btn-primary" id="btnSignUp">Sign up</button>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - AcientBulletinBoard - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $("#btnLogOut").click(function () {
            $.post("/logOut")
                .done(function () {
                    location.href = "/";
                })
                .fail(function (err) {
                });
        })
        $("#btnSignUp").click(function () {
            location.href = "/System/SignUp";
        })
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>